# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Data & artifacts
data/raw/*
!data/raw/.gitkeep
data/processed/
artifacts/

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/


